@media screen and(max-width:700px) {
    html {
        font-size: var(--rootFontSizeS);
    }
    .anole-container {
      width: var(--sw);
      height: var(--sh);
    }
  }
  @media screen and(min-width:701px) and (max-width: 800px) {
    html {
        font-size: var(--rootFontSizeM);
    }
    .anole-container {
      width: var(--mw);
      height: var(--mh);
    }
  }
  @media screen and(min-width: 801px) {
    html {
        font-size: var(--rootFontSizeL);
    }
    .anole-container {
      width: var(--lw);
      height: var(--lh);
    }
  }