@media screen and(max-width:700px) {
    html {
        font-size: var(--root-small-fontSize);
    }
    .anole {
      width: var(--sw);
      height: var(--sh);
      padding: var(--small-padding);
      margin: var(--small-margin);
      font-size: var(--small-fontSize);
    }
    .anole-container {
      justify-content: var(--small-jusifyContent);
      align-items: var(--small-alignItems);
      align-content: var(--small-alignContent);
    }
  }
  @media screen and(min-width:701px) and (max-width: 800px) {
    html {
        font-size: var(--root-medium-fontSize);
    }
    .anole {
      width: var(--mw);
      height: var(--mh);
    }
    .anole-button {
      padding: var(--medium-padding);
      font-size: var(--medium-fontSize);
    }
  }
  @media screen and(min-width: 801px) {
    html {
        font-size: var(--root-large-fontSize);
    }
    .anole {
      width: var(--lw);
      height: var(--lh);
    }
    .anole-button {
      padding: var(--large-padding);
      font-size: var(--large-fontSize);
    }
  }

.anole-container {
  display: flex;
  flex-wrap: wrap;
}

.anole-button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border:none;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 4px;
  background-color:var(--color);

  &:hover {
      background-color:var(--hoverColor);
  }

  &:active {
    background-color:var(--color)
  }
}